<div class="app-header">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="app-name">
          <mat-icon class="list-icon" svgIcon="list"></mat-icon>
          <div class="name-text">
            <h2>TODO LIST</h2>
            <p>Be more productive</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="logged-user">
          <img class="user-img" src="assets/profiledefault.png" alt="user-img">
          <div class="user-text">
            <p class="name">{{user?.name}}</p>
            <p class="email">{{user?.email}}</p>
          </div>
          <button class="logout-btn" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row todos">
    <div class="col-6">
      <div class="todo-items items">
        <div class="item-header">
          <span class="title">Todo Items</span>
          <button class="add-todo" (click)="addTodo()">Add</button>
        </div>
        <div class="todo-items">
          <div class="todo" *ngFor="let todo of todos">
            <app-todo *ngIf="!todo.done" [todo]="todo"></app-todo>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="done-items items">
        <div class="item-header">
          <span class="title">Done Items</span>
        </div>
        <div class="todo-items">
          <div class="todo" *ngFor="let todo of todos">
            <app-todo *ngIf="todo.done" [todo]="todo"></app-todo>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>