<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="app-name">
        <mat-icon class="list-icon" svgIcon="list"></mat-icon>
        <div class="name-text">
          <h2>TODO LIST</h2>
          <p>Be more productive</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="logged-user">
        <img class="user-img" src="assets/profiledefault.png" alt="user-img">
        <div class="user-text">
          <p class="name">Mohamed Atef</p>
          <p class="email">atef@example.com</p>
        </div>
      </div>
    </div>
  </div>
</div>